# This modeling notebook is done wothout PCA,scaling, or KFold cross validation to show differences in scores

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.preprocessing import PolynomialFeatures, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, accuracy_score, mean_squared_error

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 12 columns):
User_ID                       550068 non-null int64
Product_ID                    550068 non-null object
Gender                        550068 non-null object
Age                           550068 non-null object
Occupation                    550068 non-null int64
City_Category                 550068 non-null object
Stay_In_Current_City_Years    550068 non-null object
Marital_Status                550068 non-null int64
Product_Category_1            550068 non-null int64
Product_Category_2            376430 non-null float64
Product_Category_3            166821 non-null float64
Purchase                      550068 non-null int64
dtypes: float64(2), int64(5), object(5)
memory usage: 50.4+ MB

In [5]:
model_df = df.drop(columns = ['Product_ID'])

In [6]:
model_df.fillna(value = 0.0, inplace = True)

In [7]:
model_df.isnull().sum()

User_ID                       0
Gender                        0
Age                           0
Occupation                    0
City_Category                 0
Stay_In_Current_City_Years    0
Marital_Status                0
Product_Category_1            0
Product_Category_2            0
Product_Category_3            0
Purchase                      0
dtype: int64

In [8]:
model_df['Product_Category_1']=model_df['Product_Category_1'].astype(float)

In [9]:
model_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 11 columns):
User_ID                       550068 non-null int64
Gender                        550068 non-null object
Age                           550068 non-null object
Occupation                    550068 non-null int64
City_Category                 550068 non-null object
Stay_In_Current_City_Years    550068 non-null object
Marital_Status                550068 non-null int64
Product_Category_1            550068 non-null float64
Product_Category_2            550068 non-null float64
Product_Category_3            550068 non-null float64
Purchase                      550068 non-null int64
dtypes: float64(3), int64(4), object(4)
memory usage: 46.2+ MB

In [10]:
model_df.head(10)

,User_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,F,0-17,10,A,2,0,3.0,0.0,0.0,8370
1,1000001,F,0-17,10,A,2,0,1.0,6.0,14.0,15200
2,1000001,F,0-17,10,A,2,0,12.0,0.0,0.0,1422
3,1000001,F,0-17,10,A,2,0,12.0,14.0,0.0,1057
4,1000002,M,55+,16,C,4+,0,8.0,0.0,0.0,7969
5,1000003,M,26-35,15,A,3,0,1.0,2.0,0.0,15227
6,1000004,M,46-50,7,B,2,1,1.0,8.0,17.0,19215
7,1000004,M,46-50,7,B,2,1,1.0,15.0,0.0,15854
8,1000004,M,46-50,7,B,2,1,1.0,16.0,0.0,15686
9,1000005,M,26-35,20,A,1,1,8.0,0.0,0.0,7871

In [20]:
dummy_df = pd.get_dummies(model_df, drop_first=True)
dummy_df.head()

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,Gender_M,Age_18-25,Age_26-35,Age_36-45,Age_46-50,Age_51-55,Age_55+,City_Category_B,City_Category_C,Stay_In_Current_City_Years_1,Stay_In_Current_City_Years_2,Stay_In_Current_City_Years_3,Stay_In_Current_City_Years_4+
0,1000001,10,0,3.0,0.0,0.0,8370,0,0,0,0,0,0,0,0,0,0,1,0,0
1,1000001,10,0,1.0,6.0,14.0,15200,0,0,0,0,0,0,0,0,0,0,1,0,0
2,1000001,10,0,12.0,0.0,0.0,1422,0,0,0,0,0,0,0,0,0,0,1,0,0
3,1000001,10,0,12.0,14.0,0.0,1057,0,0,0,0,0,0,0,0,0,0,1,0,0
4,1000002,16,0,8.0,0.0,0.0,7969,1,0,0,0,0,0,1,0,1,0,0,0,1

In [80]:
dummy_df.drop(columns = ['Occupation'], inplace = True)

In [81]:
dummy_df.shape

(550068, 19)

In [82]:
y = dummy_df['Purchase']
X = dummy_df.drop(columns = ['Purchase'], axis = 1)

In [83]:
X_train, X_test, y_train, y_test = train_test_split(X,y, train_size = .9, random_state=12)

In [84]:
lab_enc = LabelEncoder()

In [85]:
transformed_y = lab_enc.fit_transform(y_train)

In [86]:
lr = LogisticRegression()

In [ ]:
lr.fit(X_train, transformed_y)

In [ ]:
y_hat = lr.predict(X_train)

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
rmse = np.sqrt(mean_squared_error(y_train, y_hat))
rmse

### Logistic Regression did not perform well at first, tuning is required

### Polynmial Regression

In [27]:
poly_reg = PolynomialFeatures(degree = 2)

In [28]:
X = dummy_df.drop(columns = ['Purchase'], axis = 1)
y = dummy_df['Purchase']

In [29]:
x_poly = poly_reg.fit_transform(X)

In [30]:
model = LinearRegression()

In [31]:
model.fit(x_poly, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [32]:
y_poly_pred = model.predict(x_poly)

In [33]:
rmse = np.sqrt(mean_squared_error(y,y_poly_pred))
rmse

4402.658898862405

In [34]:
poly_reg = PolynomialFeatures(degree = 3)

In [35]:
X = dummy_df.drop(columns = ['Purchase'], axis = 1)
y = dummy_df['Purchase']

In [36]:
x_poly = poly_reg.fit_transform(X)

In [37]:
model.fit(x_poly, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [38]:
y_poly_pred = model.predict(x_poly)

In [39]:
rmse = np.sqrt(mean_squared_error(y,y_poly_pred))
rmse

4265.465393034125

In [40]:
import pickle

In [41]:
filename = 'degree_3_model'

In [47]:
pickle.dump(model,open(filename,"wb"))

In [42]:
outfile = open(filename,'wb')

In [53]:
y_poly_pred[1], y[1]

(13357.492257711012, 15200)

In [65]:
y_poly_df = pd.DataFrame(y_poly_pred)

In [66]:
y_df = pd.DataFrame(y)

In [79]:
guess_vs_actual = y_poly_df.merge(y_df, left_index=True, right_index = True)
guess_vs_actual[:30]

               0  Purchase
0    8667.539345      8370
1   13357.492258     15200
2   11783.147134      1422
3    9666.291700      1057
4    7499.672195      7969
5   13948.953027     15227
6   15851.997771     19215
7   14335.226259     15854
8   14890.462497     15686
9    6610.983398      7871
10   6258.397718      5254
11   6610.983398      3957
12   6610.983398      6073
13  13349.912687     15665
14   8532.343059      5378
15   6957.920251      2079
16  10666.255231     13055
17   5851.885150      8851
18  13484.067094     11788
19  15260.948692     19614
20   8027.106809      8584
21   8052.808595      9872
22   8052.808595      9743
23   8052.808595      5982
24  14723.787437     11927
25   7712.069579     16662
26   7211.956856      5887
27   7011.596624      6973
28   9217.758402      5391
29   9831.193840     16352