In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.preprocessing import PolynomialFeatures, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, accuracy_score, mean_squared_error

In [4]:
df = pd.read_csv('train.csv')

In [5]:
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 12 columns):
User_ID                       550068 non-null int64
Product_ID                    550068 non-null object
Gender                        550068 non-null object
Age                           550068 non-null object
Occupation                    550068 non-null int64
City_Category                 550068 non-null object
Stay_In_Current_City_Years    550068 non-null object
Marital_Status                550068 non-null int64
Product_Category_1            550068 non-null int64
Product_Category_2            376430 non-null float64
Product_Category_3            166821 non-null float64
Purchase                      550068 non-null int64
dtypes: float64(2), int64(5), object(5)
memory usage: 50.4+ MB

In [7]:
model_df = df.drop(columns = ['Product_ID'])

In [8]:
model_df.fillna(value = 0.0, inplace = True)

In [9]:
model_df.isnull().sum()

User_ID                       0
Gender                        0
Age                           0
Occupation                    0
City_Category                 0
Stay_In_Current_City_Years    0
Marital_Status                0
Product_Category_1            0
Product_Category_2            0
Product_Category_3            0
Purchase                      0
dtype: int64

In [10]:
model_df['Product_Category_1']=model_df['Product_Category_1'].astype(float)

In [11]:
model_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 11 columns):
User_ID                       550068 non-null int64
Gender                        550068 non-null object
Age                           550068 non-null object
Occupation                    550068 non-null int64
City_Category                 550068 non-null object
Stay_In_Current_City_Years    550068 non-null object
Marital_Status                550068 non-null int64
Product_Category_1            550068 non-null float64
Product_Category_2            550068 non-null float64
Product_Category_3            550068 non-null float64
Purchase                      550068 non-null int64
dtypes: float64(3), int64(4), object(4)
memory usage: 46.2+ MB

In [12]:
model_df.head(10)

,User_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,F,0-17,10,A,2,0,3.0,0.0,0.0,8370
1,1000001,F,0-17,10,A,2,0,1.0,6.0,14.0,15200
2,1000001,F,0-17,10,A,2,0,12.0,0.0,0.0,1422
3,1000001,F,0-17,10,A,2,0,12.0,14.0,0.0,1057
4,1000002,M,55+,16,C,4+,0,8.0,0.0,0.0,7969
5,1000003,M,26-35,15,A,3,0,1.0,2.0,0.0,15227
6,1000004,M,46-50,7,B,2,1,1.0,8.0,17.0,19215
7,1000004,M,46-50,7,B,2,1,1.0,15.0,0.0,15854
8,1000004,M,46-50,7,B,2,1,1.0,16.0,0.0,15686
9,1000005,M,26-35,20,A,1,1,8.0,0.0,0.0,7871

In [13]:
# purchase_avg = round(model_df.groupby('User_ID')['Purchase'].mean(),2)
# purchase_avg = pd.DataFrame(purchase_avg)
# purchase_avg.reset_index(inplace = True)
# purchase_avg

In [14]:
# product_1_avg = round(model_df.groupby('User_ID')['Product_Category_1'].mean())
# product_1_avg = pd.DataFrame(product_1_avg)
# product_1_avg.reset_index(inplace = True)
# product_1_avg

In [15]:
# product_2_avg = round(model_df.groupby('User_ID')['Product_Category_2'].mean())
# product_2_avg = pd.DataFrame(product_2_avg)
# product_2_avg.reset_index(inplace = True)
# product_2_avg

In [16]:
# product_3_avg = round(model_df.groupby('User_ID')['Product_Category_3'].mean())
# product_3_avg = pd.DataFrame(product_3_avg)
# product_3_avg.reset_index(inplace = True)
# product_3_avg

In [17]:
# model_df.drop_duplicates(subset='User_ID', inplace = True)

In [18]:
model_df.head()

,User_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,F,0-17,10,A,2,0,3.0,0.0,0.0,8370
1,1000001,F,0-17,10,A,2,0,1.0,6.0,14.0,15200
2,1000001,F,0-17,10,A,2,0,12.0,0.0,0.0,1422
3,1000001,F,0-17,10,A,2,0,12.0,14.0,0.0,1057
4,1000002,M,55+,16,C,4+,0,8.0,0.0,0.0,7969

In [18]:
# model_df= model_df.merge(product_1_avg, on = 'User_ID')
# model_df= model_df.merge(product_2_avg, on = 'User_ID')
# model_df= model_df.merge(product_3_avg, on = 'User_ID')
# model_df.head()

In [19]:
# model_df.drop(columns = ['Product_Category_1_y','Product_Category_2_y','Product_Category_3_y','Product_Category_1_x',
#                          'Product_Category_2_x','Product_Category_3_x','Purchase'], inplace = True)
# model_df = model_df.merge(purchase_avg, on = 'User_ID')
# model_df.head()

In [20]:
# model_df.rename(columns = {'Product_Category_1':'avg_product_1_value','Product_Category_2':'avg_product_2_value',
#                            'Product_Category_3':'avg_product_3_value','Purchase':'avg_purchase'}, inplace = True)
# model_df.head()

In [21]:
# model_df.drop_duplicates(subset = 'User_ID',inplace = True)
# model_df.head()

In [19]:
dummy_df = pd.get_dummies(model_df, drop_first=True)
dummy_df.head()

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,Gender_M,Age_18-25,Age_26-35,Age_36-45,Age_46-50,Age_51-55,Age_55+,City_Category_B,City_Category_C,Stay_In_Current_City_Years_1,Stay_In_Current_City_Years_2,Stay_In_Current_City_Years_3,Stay_In_Current_City_Years_4+
0,1000001,10,0,3.0,0.0,0.0,8370,0,0,0,0,0,0,0,0,0,0,1,0,0
1,1000001,10,0,1.0,6.0,14.0,15200,0,0,0,0,0,0,0,0,0,0,1,0,0
2,1000001,10,0,12.0,0.0,0.0,1422,0,0,0,0,0,0,0,0,0,0,1,0,0
3,1000001,10,0,12.0,14.0,0.0,1057,0,0,0,0,0,0,0,0,0,0,1,0,0
4,1000002,16,0,8.0,0.0,0.0,7969,1,0,0,0,0,0,1,0,1,0,0,0,1

In [20]:
dummy_df.shape

(550068, 20)

In [24]:
y = dummy_df['Purchase']
X = dummy_df.drop(columns = ['Purchase'], axis = 1)

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X,y, train_size = .9, random_state=12)

In [26]:
lab_enc = LabelEncoder()

In [27]:
transformed_y = lab_enc.fit_transform(y_train)

In [28]:
lr = LogisticRegression()

In [ ]:
lr.fit(X_train, transformed_y)

In [ ]:
y_hat = lr.predict(X_train)

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
rmse = np.sqrt(mean_squared_error(y_train, y_hat))
rmse

### Logistic Regression did not perform well at first, tuning is required

### Polynmial Regression

In [21]:
poly_reg = PolynomialFeatures(degree = 2)

In [25]:
X = dummy_df.drop(columns = ['Purchase'], axis = 1)
y = dummy_df['Purchase']

In [26]:
x_poly = poly_reg.fit_transform(X)

In [27]:
model = LinearRegression()

In [28]:
model.fit(x_poly, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [29]:
y_poly_pred = model.predict(x_poly)

In [30]:
rmse = np.sqrt(mean_squared_error(y,y_poly_pred))
rmse

4402.658898862405